
@{
    ViewBag.Title = "Index";
    // UpdateTargetId - элемент на странице, который будет обновляется после получения новых данных со стороны сервера.
    // Url - адрес ресурса на сервере, который возвращает данные для обновления страницы
    var options = new AjaxOptions()
    {
        UpdateTargetId = "tabledata",
        Url = Url.Action("PassengersData")
    };
}
<h2>Список пассажиров</h2>
<div class="row">
    @if (User.IsInRole("Manager"))
    {
        <div class="col-md-8">
            @Html.ActionLink("Добавить", "Create", null, new { @class = "btn btn-default" })
        </div>
    }
</div>


    @*
        Ajax.BeginForm(options) - при использовании данного метода, генерируется html элемент со специальными атрибутами.
        Данные атрибуты будут использоваться библиотекой jquery.unobtrusive-ajax для того, чтобы определить форму, которая вместо
        обычного postback запроса должна делать асинхронный запрос.
    *@

    @using (Ajax.BeginForm(options))
    {
        <table cellpadding="4" class="table table-hover">
            <thead>
                <tr>
                    <th> Номер рейса </th>
                    <th> ФИО </th>
                    <th> Номер паспорта </th>
                    <th></th>
                </tr>
            </thead>

            <tbody id="tabledata">
                @Html.Action("PassengersData", new { Id = Model })
            </tbody>

        </table>

    }
@section scripts
{
    @*Ненавязивый JavaScript для выполнения запроса на сервер без полного обновления страницы*@
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}
@*<table class="table">
        <thead>
            <tr>
                <th> Номер рейса </th>
                <th> ФИО </th>
                <th> Номер паспорта </th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <script src="~/Scripts/Passengers.js"></script>
*@